<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel=stylesheet type=text/css
          href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.grey-blue.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='home.css') }}">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>

<script>
    function search() {
        search_param = document.getElementById("userTopic").value;

        $.ajax('/search', {
            type: "GET",
            dataType: "json",
            data: {
                search: search_param
            },
            asnyc: false,
            success: function (results) {
                // alert(results["procedures"]["t76826"]);
                console.log(results);
                // Get the table by its id
                var table = document.getElementById("procedures_symptoms"); // this should be inside the first loop

                // Print Table Header
//                var tableHead = document.createElement('thead')
//                var tr = document.createElement('TR');
//                var th = document.createElement('TH');
//                th.appendChild(document.createTextNode("Select a code below to see related articles"));
//                tr.appendChild(th)
//                tableHead.appendChild(tr);
//                table.appendChild(tableHead);

                // list Symptom (ICD) codes in table first
                var tableBody = document.createElement('tbody');

                for (var key in results["symptoms"]) {
                    var tr = document.createElement('TR');
                    var attrName = "ICD " + key.replace("t", "") + ": ";
                    var attrValue = results["symptoms"][key];
                    var td = document.createElement('TD');
                    td.className = "icd-code";
                     td.onclick = function() {
                        getArticles(attrValue.split(' ').join('+'));
                        <!--getAbstract(8893567);-->
                        <!--getAbstract(26637172);-->
                    };
                    td.appendChild(document.createTextNode(attrName + attrValue));
                    tr.appendChild(td);
                    tableBody.appendChild(tr);
                }

                // list Procedure (CPT) codes in table after ICD codes
                for (var key in results["procedures"]) {
                    var tr = document.createElement('TR');
                    var attrName = "CPT " + key.replace("t", "") + ": ";
                    var attrValue = results["procedures"][key];
                    var td = document.createElement('TD');
                    td.appendChild(document.createTextNode(attrName + attrValue));
                    tr.appendChild(td);
                    tableBody.appendChild(tr);
                }

                table.appendChild(tableBody);
                //alert(JSON.stringify(results["symptoms"]["t66934"]));
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

</script>
<script>
  function getAbstract(pmid) {
        $.ajax({

          url:"http://www.kimonolabs.com/api/ondemand/3qouqv32?apikey=OMGNB44gfcH3XD7u1zHUwEjB8nz3mlqP&kimpath1=pubmed&kimpath2=" + pmid,
          crossDomain: true,
          dataType: "jsonp",
          success: function (response) {
            //Do something with the response
            var table = document.getElementById("article-details");

            var tableBody = document.createElement('tbody');

            for (var key in response["results"]["collection1"]) {
                var h3 = document.createElement('H3');
                var p = document.createElement('P');
                var a = document.createElement('A');
                var title = response["results"]["collection1"][key]["title"];
                var abstract = response["results"]["collection1"][key]["abstract"];
                var url = response["url"];
                a.href = url;
                p.appendChild(document.createTextNode(abstract));
                p.className = "abstract";
                a.appendChild(document.createTextNode(title));
                a.className = "title";

                h3.appendChild(a);
                tableBody.appendChild(a);
                tableBody.appendChild(p);
            }
            <!--oldBody = table.getElementsByTagName("tbody")[0];-->
            <!--table.replaceChild(tableBody, oldBody);-->
            table.appendChild(tableBody);
          },
          error: function (xhr, status) {
            //handle errors
                     console.log(xhr);
            console.log(status);
          } 
        });
  }
</script>
<script>
    function getArticles(term) {
        $.ajax({
            url: "http://www.kimonolabs.com/api/ondemand/8wb2mikm?apikey=YPf4MFJ9fAeMAG9C6mqhzAuoWTmKbb4u&kimpath1=pubmed&term=" + term,
            crossDomain: true,
            dataType: "jsonp",
            success: function (response) {
                // Get the table by its id
                var table = document.getElementById("search-results"); // this should be inside the first loop
{#                <var table = document.getElementById("article-details"); // this should be inside the first loop-->#}
                // Print Table Header
//                var tableHead = document.createElement('thead')
//                var tr = document.createElement('TR');
//                var th = document.createElement('TH');
//                th.appendChild(document.createTextNode("Top 3 articles"));
//                tr.appendChild(th)
//                tableHead.appendChild(tr);
//                table.appendChild(tableHead);

                // list Symptom (ICD) codes in table first
                var tableBody = document.createElement('tbody')

                for (var key in response["results"]["collection1"]) {
                    var title = response["results"]["collection1"][key]["Title"]["text"];
                    var url = response["results"]["collection1"][key]["Title"]["href"];
                    var pmid = response["results"]["collection1"][key]["PMID"];

                    <!--getAbstract(pmid);-->
                    var p = document.createElement('P');
                    var a = document.createElement('A');

                    p.className = "result";
                    p.appendChild(document.createTextNode(title));
                    a.appendChild(document.createTextNode(url));

                    var br = document.createElement("br");

                    a.href = url;
                    a.target = '_blank';

                    tableBody.appendChild(p);

                    tableBody.appendChild(a);

                }
                oldBody = table.getElementsByTagName("tbody")[0];
                table.replaceChild(tableBody, oldBody);
                //alert(JSON.stringify(results["symptoms"]["t66934"]));
            },
            error: function (xhr, status) {

                //handle errors
            }
        });
    }
</script>


<body class="mdl-demo mdl-color--red-A100 mdl-color-text--grey-600 mdl-base">
<div class="mdl-layout__container has-scrolling-header">
    <!--<div><img src=https://photos-3.dropbox.com/t/2/AAAGFhm0I_BKQADzWo-jFrB4zDfmajuEBJoJmfpkCopcWw/12/285457126/png/32x32/3/1448395200/0/2/low-poly-texture-14.png/EOaC-JICGIQBIAIoAg/td5-MbCvCsE5ZSauJAfoRpaXx-Wpn04Xbr-c2jzDPGQ?size_mode=3&size=1024x768-->
              <!--id="bgpic" alt=""></div>-->
    <div class="demo-layout mdl-layout mdl-js-layout is-upgraded">
        <header class="android-header mdl-layout__header mdl-layout__header--waterfall">
            <div class=" mdl-layout__header-row">
                <span class="android-title mdl-layout-title">
                    <h3>Medical Search Engine &nbsp; &nbsp;&nbsp; &nbsp;</h3>
                </span>
                <!-- Simple Textfield -->
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="userTopic"/>
                        <label class="mdl-textfield__label mdl-color-text--grey" for="userTopic">What topic are you
                            searching for?</label>
                    </div>
                    <!-- Colored mini yellow amber search button -->
                    <button onclick="search()"
                            class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-color--amber">
                        <i class="material-icons">search</i>
                    </button>
                </form>
            </div>
        </header>

    <main class="mdl-layout__content">

        <div class="mdl-layout__tab-panel is-active" id="overview">

            <div class="android-card-container mdl-grid">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__supporting-text">

                        <!-- add first table here -->
                        <table id="procedures_symptoms"
                               class=" mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            <thead>
                                <h5>Select a code below to see related articles</h5>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__supporting-text">

                        <!--<table id="article-details"-->
                        <table id="search-results">
                            <thead>
                                <h5>Medline Pubmed Articles</h5>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </main>
        </div>
    </div>
</body>


</html>